button {
    min-width: 120px;
    height: 40px;
    padding: 0 30px;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    border: none;
    border-radius: 20px;
    outline: none;
    background: #1AAAA1;
}

button:hover {
    background: #15B8AF;
}


button:focus {
    background: #138D86;
}

button.add {
    align-self: flex-start;
    margin-bottom: 30px;
    font-size: 16px;
}

button.delete {
    height: 30px;
    color: #c8072b;
    background: none;
    border: 2px solid #c8072b;
    box-sizing: border-box;
}

button.delete:hover {
    color: white;
    background: #c8072b;
}

button.cancel {
    color: #15B8AF;
    background: none;
    border: 2px solid #15B8AF;
}

button.disabled {
    opacity: .8;
}
