.form {
    width: 50%;
    padding: 30px;
    background: #fff;
    box-shadow: 0 8px 16px -2px rgba(40, 40, 40, 0.8);
}

.form__element-group {
    display: flex;
}

.form__element-group .form__element {
    flex: 1;
    justify-content: flex-start;
}

.form__element-group .form__element input {
    flex: 0;
}

.form__element-group .form__element label {
    position: relative;
    flex: 0;
}


.form__element {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    margin-bottom: 30px;
}

.form__element label {
    flex: 1;
    order: 1;
    font-size: 16px;
    color: #444;
}

.form__element input {
    flex: 2 0 auto;
    order: 2;
    height: 100%;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #000;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
}

.form__element input[type="radio"] {
    width: 40px;
    height: 40px;
    flex: 0 1 auto;
    margin-left: 30px;
    border-radius: 100%;
    appearance: initial;
}

.form__element input[type="radio"]:checked + label::after {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    top: 50%;
    right: -50px;
    border-radius: 100%;
    background: #444;
    transform: translate(50%, -50%);
}

.form__element.error input {
    border-color: #c8072b;
}

.form__element.radio label {
    order: 1;
}


.form__buttons {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.form__buttons button {
    width: 40%;
}
