.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
}

.App.show .overlay {
    display: flex;
}
