.persons {
    width: 100%;
    padding: 0;
    border: 1px solid #e4e4e4;
    border-spacing: 0;
}

.persons thead {
    height: 70px;
    font-size: 20px;
    color: #fff;
    background: #485454;
}

tbody {
    font-size: 16px;
    color: #444;
}

tr {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 60px;
    padding: 5px 0;
}


tbody tr:nth-child(1n) {
    background: #fff;
}


tbody tr:nth-child(2n) {
    background: #fafafa;
}

th,
td {
    display: flex;
    width: calc(1 / 6 * 100%);
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

th:first-child,
td:first-child {
    width: calc(2 / 6 * 100%);
    justify-content: flex-start;
    text-align: left;
}

td.employee {
    background: url('/circle-check.svg') center / 30px 30px no-repeat transparent;
}
