@import url('https://fonts.googleapis.com/css?family=Encode+Sans:400,600');

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Encode Sans', sans-serif;
}

#root {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
